.root {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: var(--bg-widget);
  border-bottom: 2px solid var(--text-completed);
}
.caret {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  color: var(--text-completed);
  transform: rotate(180deg);
  cursor: pointer;
}
.caretOpen {
  transform: rotate(0);
}
.input {
  width: 100%;
}
.input::placeholder {
  color: var(--text-completed);
  font-style: italic;
  font-weight: 300;
}
